[submodule "DymoTeaLabel"]
	path = DymoTeaLabel
	url = git@github.com:danielskowronski/DymoTeaLabel.git
[submodule "tablet"]
	path = tablet
	url = git@bitbucket.org:amaterasu-dsinf-net/tablet.git
[submodule "pogoda"]
	path = pogoda
	url = git@bitbucket.org:amaterasu-dsinf-net/pogoda.git
