[submodule "DymoTeaLabel"]
	path = DymoTeaLabel
	url = https://github.com/danielskowronski/DymoTeaLabel.git
[submodule "tablet"]
	path = tablet
	url = git@bitbucket.org:amaterasu-dsinf-net/tablet.git
[submodule "pogoda"]
	path = pogoda
	url = git@bitbucket.org:amaterasu-dsinf-net/pogoda.git
[submodule "random"]
	path = random
	url = git@github.com:danielskowronski/offline-random-passwords.git
